@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";


html, body {
  height: 100%;
  overflow-x: hidden;    
            
}

body {
  
  min-height: 100vh;       
  background-color: #0F172A;
  color: #F1F5F9;
  font-family: 'Inter', sans-serif;
}


.flex{
    display: flex;
}
.center{
    justify-content: center;
}
.between{
    justify-content: space-between;
}

.item-center{
    align-items: center;
}
a{
    text-decoration: none; 
    color: #94A3B8;
}
a:hover{
    color: #F1F5F9;
}
li{
    list-style-type: none;
}
.flex-1{
    flex: 1;
}
.typing {
  display: inline-block;
  border-right: 3px solid #10b981;
  padding-right: 2px;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-borderMove {
  background-size: 300% 300%;
  animation: borderMove 4s linear infinite;
  filter: blur(8px);
  z-index: 0;
}
